.parent-box{
    width: 800px;
    height: 600px;
    top: 100px;
    left: 400px;
    border-color: red;
    border-style: solid;
    border-width: 2px;
    position: absolute;
}
.header-div{
    background-color: #313131;
    position: absolute;
    width:800px;
    height:80px;
    display: flex;

}
.header-image{
    width: 275px;
}
.header-text{
    
}
.header-writing{
    color: white;
    font-size: 20px;
    font: Patua One , serif;
}