body {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
}
.parent-box {
    position: absolute;
    width: 800px;
    height: 600px;
    border: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 30px;
}


.header-div{
    background-color: #313131;
    width:800px;
    height:80px;
    display: flex;
    border-radius: 30px 30px 0px 30px;

}

.header-image{
    width: 275px;
    border-radius: 30px 0px 0px 0px;
}
.header-text
{
    margin: 0px 0px 0px 0px;

}

.header-writing{
    color: white;
    font-size: 25px;
    font-family: Patua One , serif;
    padding: 0px 0px 0px 70px;
}


.center {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh; /* Adjust this value to center the button vertically */
}

.slideshow-div
{
    position: relative;
    padding: 10px 0px 20px 0px;
    display: flex;
    justify-content: center;

}
.slideshow
{

    height: 35vh;
    width: 65vh;
}


.floor-selection-div
{
    display: flex;
    justify-content: space-evenly;



}

.custom-button {
      background-color: #CB4900; /* Set the background color */
      color: white; /* Set the text color */
      padding: 10px 20px; /* Set the padding */
      font-size: 16px; /* Set the font size */
      border: none; /* Remove the border */
      cursor: pointer; /* Add a cursor pointer on hover */
      border-radius: 5px; /* Add rounded corners */
    font-family: Patua One , serif;
    transition: 0.15s
    }

.custom-button:hover {
    background-color: orangered; /* Change the background color on hover */
}
.custom-button:active
{
}

.rooms-available-div
{
    display: flex;
    justify-content: center;


}
#room-availability-button
{
    margin: 30px 0px 0px 0px;
    padding: 10px 60px 10px 60px;
}