.parent-box{
    width: 800px;
    height: 600px;
    top: 20%;
    left: 30%;
    border: none;
    background-color: white;
    position: absolute;
}
.header-div{
    background-color: #313131;
    position: absolute;
    width:800px;
    height:80px;
    display: flex;

}
.header-image{
    width: 275px;
}
.header-text{
    
}

.header-writing{
    color: white;
    font-size: 20px;
    font: Patua One , serif;
}