.parent-box{
   position: absolute;
  width: 800px;
  height: 600px;
  border: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
}
.header-div{
    background-color: #313131;
    width:800px;
    height:80px;
    display: flex;

}
.header-image{
    width: 275px;
}
.header-text{
    
}

.header-writing{
    color: white;
    font-size: 20px;
    font: Patua One , serif;
}


html{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}