{% load static %}

<!DOCTYPE HTML>
<html>
<head>
  <link rel="stylesheet" href="{% static 'landing.css' %}">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Patua+One&family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Red+Hat+Display&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@600&display=swap" rel="stylesheet">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">


</head>
<body style="background-image: url('{% static 'images/building-background.jpg' %}'); background-repeat: no-repeat; background-size: cover; background-position: center;">

  <!-- at this point this is the parent div that will contain all of the other smaller divs to make landing page-->
  <div class="parent-box">

    <div class="header-div">
      <div class="image-div">
        <img class="header-image" src="{% static 'images/utrgv-logo.svg' %}">
      </div>
      <div class="header-text">
        <p class="header-writing">EIEAB Room Reservation System</p>
      </div>
    </div>




      <div class="slideshow-div">

                      <div id="carouselExampleSlidesOnly" class="carousel slide carousel-fade" data-bs-ride="carousel" data-bs-interval="5000">
              <div class="carousel-inner">

                <div class="carousel-item active">
                    <img class="slideshow" src="{% static 'images/building-background.jpg' %}" alt="First slide">
                </div>
                <div class="carousel-item">
                  <img src="{% static 'images/Room2200.jpg' %}" class="slideshow" alt="Second slide">
                </div>
                <div class="carousel-item">
                  <img src="{% static 'images/map.jpg' %}" class="slideshow" alt="Third slide">
                </div>
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleSlidesOnly" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleSlidesOnly" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
                      </div>


      </div>


      <div class="floor-selection-div">

        <div class="button-div" style="text-align: center;">
        <form action="{% url 'floor1' %}" method="post">
            {% csrf_token %}
            <button type="submit" class="custom-button">Floor 1</button>
        </form>
        </div>

     <div class="floor2-div" style="text-align: center;">
        <form action="{% url 'floor2' %}" method="post">
            {% csrf_token %}
            <button type="submit"   class="custom-button">Floor 2</button>
        </form>

        </div>

        <div class="floor3-div" style="text-align: center;">
        <form action="{% url 'floor3' %}" method="post">
            {% csrf_token %}
            <button type="submit"   class="custom-button">Floor 3</button>
        </form>

     </div>

      </div>

      <div class="rooms-available-div">
          <button class="custom-button" id="room-availability-button" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal">Availability</button>

      </div>


  </div>


  <div class="modal fade bd-example-modal-lg" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="exampleModalLabel" style="font-family: Patua One , serif;">Room Availablity</h3>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <!-- Modal body content goes here -->
         <div class="modal-body-headers">
          <h4>Floor 1</h4>
          <a href="{% url 'room1' %}">
          <h5>EIEAB 1.203</h5>
          </a>
           <div class="table-container">

               <table>
                   <tbody>



                   <tr>
                   {% for time_slot in time_slots %}
                      <td>{{ time_slot|date:"g:i A" }} {{ time_slot|add:"30 minutes"|date:"g:i A" }}</td>

                    {% endfor %}
                   </tr>
                   </tbody>
               </table>

           </div>


          <a href="{% url 'room1' %}">
          <h5>EIEAB 1.204</h5>
          </a>
         <div class="table-container">

               <table>
                   <tbody>



                   <tr>
                   {% for time_slot in time_slots %}
                      <td>{{ time_slot|date:"g:i A" }} {{ time_slot|add:"30 minutes"|date:"g:i A" }}</td>

                    {% endfor %}
                   </tr>
                   </tbody>
               </table>

           </div>

          <h4>Floor 2</h4>
          <a href="{% url 'room2' %}">
          <h5>EIEAB 2.203</h5>
          </a>
         <div class="table-container">

               <table>
                   <tbody>



                   <tr>
                   {% for time_slot in time_slots %}
                      <td>{{ time_slot|date:"g:i A" }} {{ time_slot|add:"30 minutes"|date:"g:i A" }}</td>

                    {% endfor %}
                   </tr>
                   </tbody>
               </table>

           </div>
          <a href="{% url 'room2' %}">
          <h5>EIEAB 2.204</h5>
          </a>
         <div class="table-container">

               <table>
                   <tbody>



                   <tr>
                   {% for time_slot in time_slots %}
                      <td>{{ time_slot|date:"g:i A" }} {{ time_slot|add:"30 minutes"|date:"g:i A" }}</td>

                    {% endfor %}
                   </tr>
                   </tbody>
               </table>

           </div>

          <h4>Floor 3</h4>
          <a href="{% url 'room3' %}">
          <h5>EIEAB 3.205</h5>
          </a >
         <div class="table-container">

               <table>
                   <tbody>



                   <tr>
                   {% for time_slot in time_slots %}
                      <td>{{ time_slot|date:"g:i A" }} {{ time_slot|add:"30 minutes"|date:"g:i A" }}</td>

                    {% endfor %}
                   </tr>
                   </tbody>
               </table>

           </div>

         </div>




      </div>
      <div class="modal-footer">

          <div class="modal-footer-text-div">
              <span class="label label-avail">&nbsp;&nbsp;</span>
          <p style="padding: 5px 40px 0px 5px;">Available</p>
              <span class="label label-booked">&nbsp;&nbsp;</span>
          <p style="padding: 5px 5px 0px 5px;">Unavailable</p>
          </div>
        <button type="button" class="custom-button" data-bs-dismiss="modal">Close</button>

      </div>
    </div>
  </div>
</div>



<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
<script>var myModal = new bootstrap.Modal(document.getElementById('exampleModal'), {
  backdrop: 'static', // This makes the modal not dismissible when clicking outside
  keyboard: false // This disables dismissing the modal with the escape key
});

</script>

</body>
</html>
