<!DOCTYPE HTML>
 {% load static %}
<html style="background-image: url({% static 'images/eiab-building.jpg' %});">
    <head>
        <link rel="stylesheet" href="{% static 'Landing-page.css' %}">

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Patua+One&family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Red+Hat+Display&display=swap" rel="stylesheet">


    </head>

    <body>
        <!-- at this point this is the parent div that will contain all of the other smaller divs to make landing page-->
        <div class = "parent-box">

        <div class = "header-div">
            <div class="image-div"> <img class="header-image" src="{% static '/images/utrgv-logo.svg' %}"></div>
            <div class = "header-text">
                <p class = "header-writing">EIEAB</p>
            </div>

        </div>


        </div>
    </body>

</html>