{% load static %}
<!DOCTYPE HTML>

<html >
    <head>
        <link rel="stylesheet" href={% static 'Room2Template.css' %}>

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Patua+One&family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Red+Hat+Display&display=swap" rel="stylesheet">

      <style>
    .custom-button {
      background-color: #CB4900; /* Set the background color */
      color: white; /* Set the text color */
      padding: 10px 20px; /* Set the padding */
      font-size: 16px; /* Set the font size */
      border: none; /* Remove the border */
      cursor: pointer; /* Add a cursor pointer on hover */
      border-radius: 5px; /* Add rounded corners */
      margin-left: 20px;
      box-shadow: 2px 2px 8px grey;
    }
      </style>



  <div class = "parent-box">

            <div class = "header-div">
                <div class="image-div"> <img class="header-image" src="https://www.utrgv.edu/_files/images-2022/utrgv-logo.svg"></div>
                    <div class = "header-text">
                        <p class = "header-writing">ROOM 2.200</p>
                    </div>
		</div>
    </head>


    <body style="background-image: url('{% static 'images/building-background.jpg' %}'); background-repeat: no-repeat; background-size: cover; background-position: center;">

        <!-- at this point this is the parent div that will contain all of the other smaller divs to make landing page-->

			<div class="center-body">


				<div = class="scroll-Container">
				  <div class = "Scroll-body">
						<p class = "body-writing2">Features:</p>
					  <div><img class="icon-image" src="{% static 'images/Vector.png' %}"> </div>
					  <div><img class="icon2-image" src= "{% static 'images/Layer_7.png' %}"></div>
						<div><img class="icon3-image" src="{% static 'images/tv icon 1.png' %}"></div>
				</div>
			</div>

			<div = class="imgContainer-body">
					<img class="body-image" src="{% static 'images/Room2200.jpg' %}">
			</div>

			<div = class="scroll-Container">
				<div class = "Scroll-body">
					<p class = "body-writing2">What do we put here??:</p>

			</div>
		</div>


			</div>


    </body>

		<bot>


			<div class = "Scroll">
			<div class = "bot-text">
			  <p class = "bot-writing">Seats available: 5</p>
		  </div>

			<div class = "button-bot" style="justify-content: center; display: flex; ">
                <form action="{%  url 'reserve' %}" method="post">
                    {% csrf_token %}
				<button type="submit" class="custom-button">RESERVE</button>
                </form>
                <form action="{% url 'floor2' %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="custom-button">Floor</button>
                </form>
			</div>

		</div>


		</bot>






</html>